@{
    ViewBag.Title = "Home Page";
}

<div class="row jumbotron">
    <h1>Music</h1>
    <p class="lead">Đề án cuối kỳ môn <label>Chuyên đề Mobile and Pervasive Computing</label></p>
    <p class="lead">Giảng viên hướng dẫn: <label>Nguyễn Trác Thức</label></p>
    <p class="lead">Lớp: <label>SE405.H11</label></p>
</div>
<div class="row jumbotron">
    <div class="col-sm-12">
        <h2>Nhóm 17</h2>
        <p>
            Gồm các thành viên:
        </p>
    </div>
    <hr style="border:1px solid white">
    <div class="col-md-4" style="text-align:center">
        <h2>Nguyễn Khoa Minh Nhân</h2>
        <p>
            MSSV: 12520300
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/minhnhan.thaonguyen1307">More Info &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Tô Thế Tân</h2>
        <p>
            MSSV: 12520378
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/long.thien.9">More Info &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Phạm Thanh Phú</h2>
        <p>
            MSSV: 12520317
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/phupt.net">More Info &raquo;</a></p>
    </div>
</div>